main.purchaseAuction-page {
    nav.menu {
        border-bottom: 2px solid #464646;
    }
    section.container {
        max-width: 100%;
        table {
            tbody {
                tr {
                    line-height: 55px;
                    border-bottom: 2px solid #464646;
                    td.item {
                        padding-left: 2.5vw;
                        @media screen and (min-width:576px) and (max-width: 768px) {
                            padding-left: 0;
                        }
                    }
                    td.quantity {
                        text-align: center;
                        @media screen and (min-width:576px) and (max-width: 768px) {
                            padding-right: 0;
                            text-align: right;
                        }
                    }
                    @media screen and (max-width: 768px) {
                        line-height: 30px;
                    }
                }
            }
            @media screen and (max-width: 768px) {
                width: 85%;
                margin: auto;
            }
            @media screen and (max-width: 575px) {
                width: 100%;
                margin: auto;
            }
        }
        p.title-sale-ends {
            font-size: 26px;
            font-weight: 700;
            margin: 16px 0;
            text-transform: uppercase;
            @media screen and (max-width: 1200px) {
                font-size: 24px;
            }
            @media screen and (max-width: 768px) {
                font-size: 48px;
                // display: none;
            }
            @media screen and (max-width: 575px) {
                font-size: 14px;
                // display: none;
            }
        }
        p.title {
            font-size: 26px;
            font-weight: 700;
            margin: 16px 0;
            text-transform: uppercase;
            @media screen and (max-width: 1200px) {
                font-size: 24px;
            }
            @media screen and (max-width: 768px) {
                font-size: 14px;
            }
        }
        div.auction-left {
            height: 90vh;
            border-right: 2px solid #464646;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1vw 0;
            @media screen and (max-width: 768px) {
                border: none;
                // height: auto;
            }
            div.table-container {
                width: 100%; 
            }
            @media screen and (min-width:576px) and (max-width: 768px) {
                .popupshow{
                    margin: auto !important;
                    width: 312px !important;
                }
            }
        }
        div.auction-right {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1vw 3vw;
            margin-bottom: 20px;

            & > div.tokenDiv {
                width: 683px;
                min-height: 460px;
                border: 1px solid #464646;
                padding: 12px 39px;
                div.buy_token {
                    p.title {
                        position: relative;
                        text-align: left;
                        svg {
                            position: absolute;
                            font-size: 20px;
                            left: -5px;
                            top: 50%;
                            transform: translateY(-50%);
                            @include mq("tablet", max) {
                                // display: none;
                                font-size: 14px;
                                left: 0;
                            }
                        }
                    }
                    div.total-price {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin-top: 70px;
                        gap:25px;
                        p.title {
                            width: 45%;
                            margin: 0;
                            // margin-right: 10%;
                        }
                        & > div.price {
                            background: #1e1e1e;
                            border: 1px solid #ffffff;
                            width: 45%;
                            height: 53px;
                            font-weight: bold;
                            font-size: 30px;
                            color: white;
                            text-align: center;
                        }
                        .symbol-label {
                            color: $green;
                            font-size: 30px;
                            font-weight: 600;
                            margin-bottom: 0;
                            @media screen and (min-width:576px) and (max-width: 768px) {
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                right: 10px;
                            }
                            @media screen and (max-width:575px) {
                               display: none;
                            }
                        }
                        // @media screen and (max-width: 768px) {
                        //     & > div.price {
                        //         width: 60%;
                        //     }
                        // }
                        @media screen and (max-width: 768px) {
                            flex-direction: column;
                            margin-top: 30px;
                            gap:0px;
                            p.title {
                                width: 100%;
                                margin: 0;
                                margin-bottom: 15px;
                                font-size: 24px;
                            }
                            & > div.price {
                                position: relative;
                                width: 100%;
                                color: $green;
                            }
                        }
                        @media screen and (max-width: 575px) {
                            flex-direction: column;
                            margin-top: 30px;
                            p.title {
                                width: 100%;
                                margin: 0;
                                margin-bottom: 5%;
                                font-size: 24px;
                            }
                            & > div.price {
                                width: 100%;
                                color: white;
                            }
                        }
                    }
                }

                div.select_wallet {
                    p.title {
                        position: relative;
                        text-align: center;
                        svg {
                            position: absolute;
                            font-size: 20px;
                            left: -5px;
                            top: 50%;
                            transform: translateY(-50%);
                            @include mq("tablet", max) {
                                // display: none;
                                font-size: 14px;
                                left: 0;
                            }
                        }
                    }
                    div.select_div {
                        height: 250px;
                        padding-top: 25px;
                        @include mq("phone", max) {
                            height: auto;
                        }
                        .wallet-type__tab {
                            .react-tabs__tab-list {
                                display: flex;
                                justify-content: space-between;
                                border: none;
                                .wallet-type__tab-list {
                                    font-size: 22px;
                                    font-weight: 700;
                                    width: calc(50% - 4px);
                                    height: 53px;
                                    line-height: 53px;
                                    border: 1px solid white;
                                    text-align: center;
                                    cursor: pointer;
                                    @media screen and (max-width: 768px) {
                                        font-size: 14px;
                                    }
                                }
                                .react-tabs__tab--selected {
                                    background-color: #23c865;
                                    border-radius: unset;
                                    color: #ffffff;
                                }
                            }
                            text-align: center;
                            .col-sm-6 {
                                margin-bottom: 8px;
                                @include mq("phone") {
                                    &:nth-child(1),
                                    &:nth-child(3) {
                                        padding-right: 4px;
                                    }
                                    &:nth-child(2),
                                    &:nth-child(4) {
                                        padding-left: 4px;
                                    }
                                }
                            }
                            .wallet-item {
                                cursor: pointer;
                                width: 100%;
                                height: 100%;
                                padding: 5px;
                                border: 1.5px solid #525252;
                                text-align: center;
                                img {
                                    margin-bottom: 12px;
                                    width: 34px;
                                    height: 34px;
                                    @include mq("phone", max) {
                                        width: 32px;
                                        height: 32px;
                                    }
                                }
                                p {
                                    font-weight: 500;
                                    font-size: 13.2009px;
                                    line-height: 16px;
                                    color: white;
                                }
                                &.inactive {
                                    border-color: grey;
                                    p {
                                        color: #8f8f8f;
                                    }
                                    img {
                                        opacity: 0.5;
                                    }
                                }
                            }
                        }

                        input.black_input {
                            color: #ffffff;
                            background-color: #1e1e1e;
                            border: 1px solid #ffffff;
                            padding: 7px;
                            padding-left: 25px;
                            height: 53px;
                            margin-top: 20px;
                            width: 100%;
                            font-size: 24px;
                            font-family: "Montserrat";
                            font-weight: 400;
                            ::placeholder {
                                color: white;
                            }
                        }
                    }
                }
                button.ndb_button {
                    margin-top: 40px;
                    margin-bottom: 20px;
                    @media screen and (max-width: 768px) {
                        margin-top: 25px;
                        margin-bottom: 20px;
                    }
                }
            }

            @media screen and (max-width: 768px) {
                height: auto;
                & > div.tokenDiv {
                    padding: 0 10px;
                    height: auto;
                }
            }
            @media screen and (max-width: 768px) {
                & > div.tokenDiv {
                    position: absolute;
                    width: 95%;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 100;
                    background: #171717;
                    padding: 20px 10px;
                    & > div.buy_token {
                        p.title{
                            @media screen and (min-width:576px) and (max-width: 768px) {
                                font-size: 24px;
                                text-align: left;
                                line-height: 1;
                                height: auto;
                                padding-top: 30px;
                            }
                        }
                        p.title:first-child {
                            @media screen and (max-width: 768px) {
                                font-size: 36px;
                                text-align: left    ;
                                line-height: 1;
                                height: auto;
                                padding-top: 10px;
                            }
                            @media screen and (max-width: 575px) {
                                font-size: 22px;
                                text-align: center;
                                line-height: 1;
                                height: auto;
                            }
                        }
                        p.title {
                            @media screen and (max-width: 768px) {
                                font-size: 24px;
                                text-align: left;
                                line-height: 1;
                                height: auto;
                            }
                            @media screen and (max-width: 575px) {
                                font-size: 18px;
                                text-align: left;
                                line-height: 1;
                                height: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}

button.ndb_button {
    color: white;
    background-color: transparent;
    border: 1px solid #ffffff;
    font-size: 26px;
    font-weight: 700;
    padding: 4px;
    height: 53px;
    &:hover:enabled {
        color: #23c865;
        border: 1px solid #23c865;
    }
    &:disabled {
        border: 1px solid dimgray;
        color: dimgray;
    }
    @media screen and (max-width: 768px) {
        font-size: 20px;
    }
}

div.slider-container {
    position: relative;
    display: flex;
    align-items: center;
    & > span.max {
        position: absolute;
        font-weight: 500;
        font-size: 14px;
        top: 30px;
        right: 0px;
    }
    & > input {
        padding: 8px 10px;
        background: #1e1e1e;
        border: 1px solid #ffffff;
        width: 87px;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: white;
        text-align: center;
        margin-right: 14px;
    }
    & > div.rc-slider {
        position: relative;
        height: 14px;
        padding: 5px 0;
        width: 100%;
        border-radius: 6px;
        touch-action: none;
        box-sizing: border-box;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    & div.rc-slider-rail {
        position: absolute;
        width: 100%;
        background-color: #e9e9e9;
        height: 4px;
        border-radius: 6px;
    }
    & div.rc-slider-track {
        height: 5px;
        background-color: #23c865;
        position: absolute;
        border-radius: 6px;
    }
    & div.rc-slider-handle {
        width: 24px;
        height: 24px;
        border-color: #23c865;
        background-color: #23c865;
        margin-top: -10px;
    }
    @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 10px;
        margin-top: 15px;
        & > input {
            width: 100%;
            margin: 0 !important;
            line-height: 32px;
            font-size: 18px;
        }
    }
    @media screen and (max-width: 575px) {
        flex-direction: column;
        gap: 10px;
        margin-top: 15px;
        & > input {
            width: 100%;
            margin: 0 !important;
            line-height: 32px;
            font-size: 18px;
        }
    }
}

.signVerify-modal {
    position: relative;
    width: 750px;
    height: 446px;
    padding: 110px 140px;
    display: flex;
    flex-direction: column;
    span.close {
        position: absolute;
        top: 27px;
        right: 34px;
    }
    @media screen and (max-width: 768px) {
        width: calc(100% - 24px);
        padding: 40px;
        height: auto;
        span.close {
            top: 15px;
            right: 15px;
        }
    }
    p.description {
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 20px;
        height: 135px;
        @media screen and (max-width: 768px) {
            font-size: 14px;
            height: auto;
        }
    }
    .btnDiv {
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
        a {
            margin: 10px 15px;
        }
        p {
            width: 191.79px;
            height: 53px;
            line-height: 53px;
            text-align: center;
            font-weight: 700;
            font-size: 26px;
            text-transform: uppercase;
            &.blackbtn {
                border: 1px solid #ffffff;
            }
            &.greenbtn {
                background-color: #23c865;
            }
            @media screen and (max-width: 768px) {
                width: 191.79px;
                height: 40px;
                line-height: 40px;
                font-size: 18px;
            }
        }
    }
}

div.timebar {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 40px;
    position: relative;
    & > div.progress {
        height: 12px;
        border-radius: 0;
        overflow: visible;
        &:hover span.time.time-md{
            display:block
        }
    }
    & span.time {
        position: absolute;
        font-weight: 700;
        font-size: 18px;
        top: -50px;
        display: none;
        transition:all 0.3s ease-in-out;
        @media screen and (max-width: 768px) {
            font-size: 12px;
            top: -40px;
            display: block;
        }
    }
    
    & span.pointer {
        position: absolute;
        height: 25px;
        top: -13px;
        background: #de4934;
        border: 2px solid #de4934;
    }
}
