.auction-page {
    background-color: $black;
    .menu {
        border-bottom: 2px solid #464646;
    }
    .section-auction {
        width: 100%;
        height: 100%;
        &__tooltip {
            margin-top: 2em;
        }
        .current-round {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 24px 0;
            border-bottom: 1px solid #464646;
            @include mq("tablet") {
                display: none;
            }
            h4 {
                font-weight: bold;
                font-size: 30px;
                line-height: 37px;
                @include mq("phone", max) {
                    font-size: 24px;
                    line-height: 29px;
                }
            }
            p {
                font-size: 18px;
                line-height: 22px;
                color: #c4c4c4;
                span {
                    font-weight: 500;
                    color: white;
                }
                @include mq("phone", max) {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    span {
                        font-weight: bold;
                    }
                }
            }
            .show-chart {
                width: 64px;
                height: 64px;
                cursor: pointer;
                @include mq("phone", max) {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        .timeframe-bar {
            margin-top: 50px;
            background: linear-gradient(270deg, #23c865 0%, #23c865 35.94%, #e8503a 57.81%);
            .timeleft {
                &__value {
                    font-weight: 500;
                    font-size: 9px;
                    line-height: 11px;
                    bottom: 24px;
                    right: unset;
                    color: white;
                    position: absolute;
                    display: none;
                }
                &::after {
                    content: "";
                    position: absolute;
                    height: 21px;
                    width: 2px;
                    background: #de4934;
                    bottom: 0;
                }
                &:hover {
                    .timeleft__value {
                        display: block;
                    }
                }
            }
        }
        .auction-left {
            padding-right: 20px;
            @include mq("tablet") {
                display: block !important;
            }
            @include mq("laptop", max) {
                padding-right: 12px;
            }
            @include mq("phone", max) {
                width: 100%;
            }
            @media screen and (min-width:1920px){
                padding-top:15px;
            }
            .round-tab,
            .statistics-tab {
                .react-tabs__tab-list {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 2px solid #464646;
                    .react-tabs__tab {
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 17px;
                        text-transform: uppercase;
                        color: $grey;
                        text-align: center;
                        @include mq("tablet", max) {
                            font-size: 18px;
                            line-height: 22px;
                        }
                        @include mq("phone", max) {
                            font-size: 14px;
                            line-height: 17px;
                            text-align: center;
                        }
                        &--selected {
                            background: none;
                            border: none;
                            border-bottom: 2px solid $green;
                        }
                    }
                }
            }
            .round-tab {
                margin-top: 16px;
                @include mq("tablet", max) {
                    display: none;
                }
                .react-tabs__tab-list {
                    .react-tabs__tab {
                        display: flex;
                        align-items: center;
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 17px;
                        padding-left: 0;
                        padding-right: 0;
                        width: auto;
                        &--selected {
                            font-size: 30px;
                            line-height: 37px;
                            letter-spacing: -0.01em;
                            color: white;
                            @include mq("phone", max) {
                                font-size: 24px;
                                line-height: 29px;
                            }
                        }
                        @include mq("phone", max) {
                            padding: 0;
                        }
                    }
                }
                .react-tabs__tab-panel {
                    color: $grey;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                }
            }
            .statistics-tab {
                margin-top: 32px;
                @include mq("tablet", max) {
                    margin-top: 16px;
                }
                @include mq("phone", max) {
                    margin-top: 32px;
                }
                .react-tabs__tab-list {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 2px solid #464646;
                    .react-tabs__tab {
                        width: 50%;
                    }
                    @include mq("tablet", max) {
                        justify-content: flex-start;
                    }
                }
                .react-tabs__tab-panel {
                    .text {
                        padding-top: 27px;
                        white-space: pre-line;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 17px;
                        @include mq("tablet", max) {
                            font-size: 18px;
                            line-height: 141.4%;
                        }
                        @include mq("phone", max) {
                            font-size: 12px;
                            line-height: 17px;
                        }
                    }
                    table {
                        width: 100%;
                        th {
                            font-weight: 600;
                            font-size: 12px;
                            line-height: 141.4%;
                            letter-spacing: 0.03em;
                        }
                        td {
                            font-size: 16px;
                            line-height: 141.4%;
                        }
                        tr {
                            display: flex;
                            justify-content: space-between;
                            padding: 3px 0;
                            border-bottom: 1px solid #525252;
                        }
                    }
                    .caption {
                        font-size: 18px;
                        line-height: 22px;
                        letter-spacing: -0.02em;
                        color: $grey;
                        @include mq("phone", max) {
                            font-size: 14px;
                            line-height: 17px;
                        }
                    }
                    .value {
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 22px;
                        @include mq("phone", max) {
                            font-size: 14px;
                            line-height: 17px;
                        }
                    }
                    .btn-increase {
                        font-weight: bold;
                        font-size: 30px;
                        line-height: 20px;
                        padding: 14px 35px;
                    }
                }
            }
            &__bottom {
                position: absolute;
                width: calc(100% - 70px);
                bottom:162px;
                @include mq("phone", max) {
                    position: relative;
                    bottom: unset;
                    width: 100%;
                }
            }
        }
        .auction-right {
            border-left: 2px solid #464646;
            @include mq("tablet", max) {
                border: none;
            }
            .place-bid {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                margin-top: 64px;
                margin-left:43px;
                height: calc(100% - 235px);
                @include mq("laptop") {
                    display: flex;
                }
            }
            .chart-area {
                margin: 0 auto;
                padding: 40px 0px 0px 40px;
                height: 100%;
                @include mq("laptop") {
                    display: none;
                }
                @include mq("tablet", max) {
                    padding-left: 0;
                    padding-right: 0;
                }
                .select-chart-type {
                    width: 375px;
                    z-index: 2;
                    @include mq("laptop", max) {
                        width: 100%;
                    }
                   
                }
                .select-chart-btn{
                    width:367px;
                    @include mq("laptop", max) {
                        width: 100%;
                    }
                }
                
                .css-1s2u09g-control,
                .css-1pahdxg-control {
                    background: #1e1e1e;
                    border: 1px solid #ffffff;
                    border-radius: unset;
                    box-shadow: unset;
                    .css-319lph-ValueContainer,
                    .css-1d8n9bt {
                        justify-content: start;
                    }
                    .css-6j8wv5-Input,
                    .css-qc6sy-singleValue {
                        font-family: "Montserrat";
                        font-style: normal;
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 29px;
                        text-align: left;
                        color: white;
                        @include mq("phone", max) {
                        }
                    }
                    .css-1okebmr-indicatorSeparator {
                        display: none;
                    }
                }
                .css-26l3qy-menu {
                    background-color: $black;
                    border: 1px solid #ffffff;
                    border-radius: unset;
                    color: white;
                    font-size: 24px;
                    font-family: "Montserrat";
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 29px;
                    & > div {
                        max-height: unset !important;
                        &:hover {
                            background: unset;
                        }
                    }
                }
                .select-label {
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 54px;
                    color: #c4c4c4;
                    margin: 45px 0 25px;
                }
            }
        }
    }
}

.place-bid {
    margin: 0 auto;
    padding: 31px 41px;
    border: 1px solid #464646;
    // max-width: 683px;
    @include mq("tablet", max) {
        padding: 19px 12px;
    }
    .range-label {
        font-weight: bold;
        font-size: 30px;
        line-height: 37px;
        text-transform: uppercase;
        @media screen and (min-width: 1920px) {
            font-size: 50px;
        }
    }
    .range-input,
    .total-input {
        padding: 8px 10px;
        background: #1e1e1e;
        border: 1px solid #ffffff;
        width: 87px;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: white;
        text-align: center;
    }
    .total-input {
        width: auto;
        font-weight: bold;
        font-size: 30px;
        line-height: 37px;
    }
    .symbol-label {
        color: $green;
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
        font-variant: small-caps;
        margin-top: auto;
        margin-bottom: auto;
    }
    .rc-slider {
        &-rail {
            height: 5px;
            background-color: white;
        }
        &-track {
            height: 5px;
            background-color: $green;
        }
        &-handle {
            width: 24px;
            height: 24px;
            border-color: $green;
            background-color: $green;
            margin-top: -10px;
        }
    }
    .desktop-view {
        @include mq("tablet", max) {
            display: none;
        }
    }
    .tablet-view {
        display: none;
        text-align: center;
        @include mq("tablet", max) {
            display: block;
        }
        .range-label {
            font-size: 24px;
            line-height: 29px;
        }
        .range-input {
            width: 100%;
            padding: 17px;
            margin-top: 16px;
            margin-bottom: 25px;
            &::placeholder {
                font-size: 14px;
                line-height: 17px;
                color: white;
                opacity: 0.5;
                text-transform: uppercase;
            }
        }
        .total-input {
            width: 100%;
            margin: 0;
            margin-top: 16px;
            margin-bottom: 25px;
            padding: 8px;
            font-weight: bold;
            font-size: 30px;
            line-height: 37px;
            color: $green;
        }
        .btn-primary {
            font-size: 30px;
            line-height: 37px;
            padding: 8px 44px;
        }
    }
}

#chance-chart-mask{
    top: "56px";
    height:"10px";
    border-bottom: "solid 1px #a3a7af";
    z-index: "99";
    position: "relative";
    background-color: "#1e1e1e";
    margin-right: "21px";
    margin-left: "40px";
    color: "#fff0";
}

.flex-p{
    @media screen and (min-width:1920px) {
        font-size: 30px;
        margin-bottom: 15px;
    }
}