.history-page {
    background-color: $black;
    margin-bottom: 1rem;
    margin-top: -1rem;
    .menu {
        border-bottom: 2px solid #464646;
    }
    .section-history {
        height: calc(100vh - 97px);
        @include mq("tablet", max) {
            height: auto;
        }
        .verify-link {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            text-decoration: underline;
            color: white;
            flex-shrink: 0;
            &:hover {
                color: $green;
            }
        }
        &__left {
            padding-right: 24px;
            border-right: 2px solid #464646;
            height: 100%;
            @include mq("tablet", max) {
                border-right: unset;
            }
            .verify-link {
                display: none;
                @include mq("laptop", max) {
                    display: block;
                }
            }

            table {
                width: 100%;
                thead,
                tbody tr {
                    display: table;
                    width: 100%;
                    table-layout: fixed;
                }
                thead {
                    border-bottom: 2px solid #464646;
                    width: calc(100% - 26px);
                    th {
                        padding: 16px 0px;
                    }
                }
                th {
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 0.04em;
                    color: #8f8f8f;
                    font-weight: normal;
                }
                td {
                    font-size: 18px;
                    line-height: 22px;
                    color: white;
                }
                tbody {
                    @include custom-scroll(250px);
                    @include mq("tablet", max) {
                        max-height: 350px;
                    }
                    display: block;
                    padding-right: 20px;
                    tr {
                        margin-bottom: 23px;
                        border-bottom: 2px solid #464646;
                        td {
                            padding: 16px 0;
                        }
                        &:hover {
                            background-color: #242424;
                        }
                    }
                }
                .mobile-not {
                    @include mq("phone", max) {
                        display: none;
                    }
                }
                .laptop-not {
                    @include mq("laptop", max) {
                        display: none;
                    }
                }
            }
            .coin {
                &-abbr {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    letter-spacing: 0.04em;
                    color: white;
                }
                &-name {
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 18px;
                    letter-spacing: 0.04em;
                    color: #959595;
                }
                &-price {
                    font-size: 18px;
                    line-height: 22px;
                    color: #ffffff;
                    text-align: right;
                }
                &-percent {
                    font-size: 13px;
                    line-height: 18px;
                    text-align: right;
                    color: #959595;
                    margin-top: 3px;
                }
                &-status {
                    position: relative;
                    text-indent: 16px;
                    &::before {
                        content: "";
                        position: absolute;
                        width: 9px;
                        height: 9px;
                        border-radius: 50%;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                    }
                    &.active {
                        &::before {
                            background-color: $green;
                        }
                    }
                    &.deactive {
                        &::before {
                            background-color: $red;
                        }
                    }
                }
                &-reward {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 0.04em;
                    color: $green;
                }
                &-operations {
                    display: flex;
                    justify-content: flex-end;
                    @include mq("laptop", max) {
                        flex-direction: column;
                        align-items: flex-end;
                    }
                }
            }

            .react-tabs {
                &__tab-list {
                    border-bottom: 2px solid #464646;
                    display: flex;
                    width: 100%;
                    .react-tabs__tab {
                        padding: 21px 0 9px;
                        font-weight: bold;
                        font-size: 28px;
                        line-height: 37px;
                        text-transform: uppercase;
                        color: $grey;
                        @include mq("laptop", max) {
                            font-size: 22px;
                            width: 50%;
                            text-align: center;
                        }
                        &--selected {
                            background: none;
                            border: none;
                            border-bottom: 2px solid $green;
                            color: white;
                        }
                    }
                }
                &__tab-panel {
                    margin-top: 24px;

                    h5 {
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 22px;
                        letter-spacing: 0.04em;
                        text-transform: uppercase;
                    }

                    .transaction {
                        border-bottom: 2px solid #464646;
                        padding: 16px 0;
                        &-history {
                            @include custom-scroll(550px);
                            @include mq("tablet", max) {
                                max-height: 350px;
                            }
                        }
                        &-date {
                            font-weight: 500;
                            font-size: 9px;
                            line-height: 11px;
                            letter-spacing: 0.04em;
                            color: #787878;
                        }
                        &-name {
                            font-weight: 500;
                            font-size: 15px;
                            line-height: 18px;
                            letter-spacing: 0.04em;
                        }
                        &-price {
                            font-weight: bold;
                            font-size: 15px;
                            line-height: 18px;
                            letter-spacing: 0.04em;
                        }
                    }
                }
            }
        }
        &__right {
            position: relative;
            height: 100%;
            padding: 0;
            .verify-link {
                @include mq("laptop", max) {
                    display: none;
                }
            }
            .tab-top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                @include mq("phone", max) {
                    display: block;
                    .react-tabs__tab-list {
                        padding: 24px 0;
                    }
                    .react-tabs__tab {
                        font-size: 16px;
                    }
                }
            }
            .react-tabs {
                height: 100%;
                &__tab-list {
                    display: flex;
                    justify-content: space-between;
                    margin: 0;
                    padding: 24px;
                    width: 100%;
                    border: none;
                    @include mq("phone", max) {
                        justify-content: space-between;
                    }
                }
                &__tab {
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 22px;
                    color: #757575;
                    &--selected {
                        background: unset;
                        color: white;
                        border: unset;
                    }
                }
                &__tab-panel {
                    padding: 0 20px;
                    &--selected {
                        height: 100%;
                        border-top: 2px solid #464646;
                    }
                    .airdrop-link {
                        cursor: pointer;
                    }
                }

                .operation-link {
                    font-size: 18px;
                    line-height: 22px;
                    letter-spacing: 0.04em;
                    color: white;
                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                    }
                    @include mq("tablet", max) {
                        font-size: 14px;
                    }
                }
            }
            .connect-external {
                position: absolute;
                top: calc(100% - 100px);
                width: 100%;
                text-align: center;

                .btn-primary {
                    font-size: 22px;
                    line-height: 27px;
                }
                @include mq("phone", max) {
                    top: calc(100% - 24px);
                    .btn-primary {
                        font-size: 18px;
                        line-height: 22px;
                        padding: 13px 23px;
                    }
                }
            }
            table {
                width: 100%;
                .search {
                    display: flex;
                    justify-content: flex-start;
                    .search-icon {
                        margin: 12px;
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                        &:hover {
                            color: #a7a7a7 !important;
                        }
                        &:active {
                            color: yellow !important;
                        }
                    }
                }
                thead,
                tbody tr {
                    display: table;
                    width: 100%;
                    table-layout: fixed;
                }
                thead {
                    border-bottom: 2px solid #464646;
                    width: 100%;
                    th {
                        padding: 16px 0px;
                    }
                }
                th {
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 0.04em;
                    color: #8f8f8f;
                    font-weight: normal;
                }
                td {
                    font-size: 18px;
                    line-height: 22px;
                    color: white;
                    .loading {
                        display: flex;
                        justify-content: flex-end;
                    }
                }
                tbody {
                    @include custom-scroll(250px);
                    @include mq("tablet", max) {
                        max-height: 350px;
                    }
                    display: block;
                    tr {
                        border-top: 2px solid #464646;

                        td {
                            padding-top: 24px;
                            padding-bottom: 16px;
                        }
                        &:hover {
                            background-color: #242424;
                        }
                    }
                }
                .mobile-not {
                    @include mq("phone", max) {
                        display: none;
                    }
                }
                .laptop-not {
                    @include mq("laptop", max) {
                        display: none;
                    }
                }
            }
            .coin {
                &-abbr {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    letter-spacing: 0.04em;
                    color: white;
                }
                &-name {
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 18px;
                    letter-spacing: 0.04em;
                    color: #959595;
                }
                &-price {
                    font-size: 18px;
                    line-height: 22px;
                    color: #ffffff;
                    text-align: right;
                }
                &-percent {
                    font-size: 13px;
                    line-height: 18px;
                    text-align: right;
                    margin-top: 3px;
                }
                &-status {
                    position: relative;
                    text-indent: 16px;
                    &::before {
                        content: "";
                        position: absolute;
                        width: 9px;
                        height: 9px;
                        border-radius: 50%;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                    }
                    &.active {
                        &::before {
                            background-color: $green;
                        }
                    }
                    &.deactive {
                        &::before {
                            background-color: $red;
                        }
                    }
                }
                &-reward {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 0.04em;
                    color: $green;
                }
                &-operations {
                    display: flex;
                    justify-content: flex-end;
                    @include mq("laptop", max) {
                        flex-direction: column;
                        align-items: flex-end;
                    }
                }
            }
            .star-checkbox {
                width: 22px;
                height: 22px;
                margin-top: 4px;
                margin-right: 18px;
            }
        }
    }
}

.deposit-modal {
    max-width: 545px;
    .cryptocoin-select {
        margin: 14px 0;
        height: 45px;
        width: 100%;
        .css-1s2u09g-control,
        .css-1pahdxg-control {
            @extend %select-style;
        }
        .css-1okebmr-indicatorSeparator {
            display: none;
        }
        .css-319lph-ValueContainer {
            padding: 0;
            .css-qc6sy-singleValue {
                display: flex;
                align-items: center;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                align-items: center;
                color: white;
                img {
                    margin-right: 4px;
                    width: 24px;
                    height: 24px;
                }
            }
        }
        .css-tlfecz-indicatorContainer {
            padding: 0;
        }
        .css-6j8wv5-Input {
            display: none;
        }
    }
    .deposit-tab {
        .react-tabs__tab-list {
            border: 1px solid white;
            margin-bottom: 14px;
            .react-tabs__tab {
                width: 50%;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                letter-spacing: 0.04em;
                color: #ffffff;
                text-align: center;
                border: unset;
                bottom: unset;
                border-radius: unset;
                padding: 10px;
                &--selected {
                    color: $black;
                }
            }
        }
        .deposit-panel {
            .clipboard {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                border: 1px solid white;
                p,
                code {
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 0.04em;
                    color: white;
                }
                img {
                    cursor: pointer;
                }
            }
            .bitcoin-address {
                text-align: center;
                p {
                    margin-top: 22px;
                    margin-bottom: 14px;
                    font-size: 12px;
                    line-height: 15px;
                }
            }
        }
        .withdraw-panel {
            .form-control {
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.04em;
                color: #ffffff;
                border: 1px solid white;
                background-color: $black;
                padding: 10px;
            }
            .available-balance,
            .minimum-transfer {
                display: flex;
                justify-content: space-between;
                padding: 2px 0;
                p {
                    font-size: 12px;
                    line-height: 15px;
                    letter-spacing: 0.04em;
                    color: #ffffff;
                }
            }
            .available-balance {
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            }
        }
    }
}

.airdrop-detail {
    display: none;
    width: 100%;
    height: 100%;
    &__left {
        padding: 16px;
        border-right: 2px solid #464646;
        @include mq("tablet", max) {
            border: none;
        }
        .detail-header {
            display: flex;
            align-items: center;
            background: #242424;
            padding: 14px 16px;
            &__icon {
                width: 35.5px;
                height: 35.5px;
                margin-right: 12px;
                @include mq("phone", max) {
                    width: 23px;
                    height: 23px;
                }
            }
            &__name {
                font-weight: bold;
                font-size: 22px;
                line-height: 27px;
                letter-spacing: 0.04em;
                color: white;
                @include mq("phone", max) {
                    font-size: 14px;
                    line-height: 17px;
                }
            }
            &__end {
                font-weight: 300;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 0.04em;
                color: #757575;
                @include mq("phone", max) {
                    display: none;
                }
            }
        }
        .detail-body {
            margin-top: 16px;
            li {
                display: flex;
                justify-content: space-between;
                padding: 14px;
                border-bottom: 2px solid #464646;
                p {
                    color: #959595;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                }
                .value {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    letter-spacing: 0.04em;
                    color: #ffffff;
                }
            }
        }
        .detail-footer {
            margin-top: 16px;
            padding: 14px 16px;
            h6 {
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.04em;
                color: white;
                margin-bottom: 16px;
            }
            ul {
                list-style: disc;
                li {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 15px;
                    letter-spacing: 0.04em;
                    color: #787878;
                    padding-bottom: 16px;
                    list-style-position: outside;
                    line-break: anywhere;
                }
            }
        }
    }
    &__right {
        padding: 16px;
        .time-remaining {
            background: #242424;
            text-align: center;
            h5 {
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                letter-spacing: 0.04em;
                text-transform: uppercase;
            }
            .countdown-wrapper {
                margin: 16px 0;
                .time {
                    font-size: 48px;
                    line-height: 59px;
                    &-text {
                        font-size: 9.3198px;
                        line-height: 11px;
                    }
                }
            }
            .btn-primary {
                background: #1e1e1e;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 14.6601px;
                line-height: 18px;
                letter-spacing: 0.04em;
                @include mq("phone", max) {
                    padding: 12px 40px;
                }
            }
        }
        .about-company {
            margin-top: 16px;
            padding: 22px 19px;
            background-color: #242424;
            h6 {
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 0.04em;
            }
            p {
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 0.04em;
            }
            @include mq("phone", max) {
                display: none;
            }
        }
    }
    .read-more {
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.04em;
        color: #ffffff;
    }
}

.airdrop-modal {
    border: 2px solid #464646;
    max-width: 859px;
    @include mq("phone", max) {
        display: none;
    }
    &__overlay {
        @include mq("laptop") {
            display: none;
        }
        @include mq("phone", max) {
            display: none;
        }
    }
}

.join-modal {
    max-width: 612px;
    .join-airdrop {
        .join-list {
            li {
                padding: 14px 0;
                border-bottom: 2px solid #464646;
                display: flex;
                justify-content: space-between;
                align-items: center;
                @include mq("phone", max) {
                    flex-direction: column;
                    p {
                        margin-bottom: 13px;
                    }
                }
                p {
                    font-size: 14px;
                    line-height: 17px;
                    color: #f2f2f2;
                }
                .btn-green {
                    border: 1px solid #ffffff;
                    font-size: 12px;
                    line-height: 15px;
                    width: 205px;
                    padding: 10px 0;
                }
            }
        }
        .form-label {
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.04em;
            color: #f2f2f2;
        }
        .btn-primary {
            font-size: 14.6601px;
            line-height: 18px;
            padding: 12px 40px;
        }
    }
}

.deposit-widthdraw-modal {
    max-width: 600px;
    background-color: $black;
    border: none;
    .duplicate-icon {
        width: 24px;
        height: 24px;
    }
    .border-1-white {
        border: 1px solid white;
    }
}

.wallet-transaction-table {
    .green-bullet {
        width: 10px;
        height: 10px;
        background-color: $green;
        border-radius: 100%;
    }
}

.wallet-referral-tab {
    .title {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;

        letter-spacing: -0.025em;
    }
    .subtitle {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: -0.01em;
        word-spacing: 7px;
    }
    .rewards-box {
        background-color: #242424;
        padding: 20px;
        margin-top: 23px;
        margin-bottom: 15px;
        .label {
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;
            letter-spacing: -0.01em;
            color: #ffffff;
            opacity: 0.4;
        }
        .value {
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 20px;
            letter-spacing: -0.01em;
            margin-top: 10px;
        }
    }
    .duplicate-icon {
        width: 24px;
        height: 24px;
        cursor: pointer;
        transition: 300ms;
        &:hover {
            color: lightgrey !important;
        }
    }
    .btn-invite {
        font-size: 24px;
        padding: 10px 60px;
        margin-top: 50px;
    }
}

.stake-duration {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    & > div {
        background-color: rgba(255, 255, 255, 0.1);
        padding: 6px 8px;
        cursor: pointer;
    }
    .active-duration {
        border: 2px solid $green;
    }
}
.clock-icon {
    width: 20px;
    height: 20px;
}

.circle-light {
    width: 20px;
    height: 20px;
    background-color: #c4c4c4;
    border-radius: 50%;
}

.profile-value {
    .value-box {
        margin-top: 16px;
        background: rgba(43, 43, 43, 0.5);
        padding: 16px 12px;
    }
    .value-label {
        font-size: 17px;
        color: #5e5e5e;
        .value-label-eye-icon {
            width: 22px;
            height: 22px;
            color: #666666;
            margin-left: 10px;
            cursor: pointer;
            transition: 500ms;
            &:hover {
                color: #5e5e5e;
            }
        }
    }
    .value {
        font-size: 40px;
        line-height: 54px;
    }
    .max-value {
        font-size: 15px;
        line-height: 18px;
        color: #959595;
    }
}

.bid-activity {
    @include custom-scroll(250px);
    li {
        padding: 19px 0;
        border-bottom: 1px solid $green;
    }
    .bid {
        &-name {
            font-size: 13px;
            line-height: 16px;
            color: white;
        }
        &-date {
            font-size: 10px;
            line-height: 12px;
            color: #8e8e8e;
        }
        &-price {
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.01em;
            color: white;
        }
    }
}
