.payment-page {
    .payment-wrapper {
        padding-top: 100px;
        @include mq("tablet", max) {
            padding-top: 75px;
        }
        @include mq("phone", max) {
            padding-top: 65px;
        }
    }
    & > section {
        .title {
            color: white;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 60px;
            @include mq("tablet", max) {
                font-size: 24px;
            }
        }
        .sub-title {
            color: white;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 23px;
            text-align: center;
            font-weight: 300;
            opacity: 0.95;
        }
    }
    .payment-expire {
        font-weight: bold;
        font-size: 11px !important;
        line-height: 13px !important;
        text-transform: uppercase;
        display: none;
    }
    .payment-type__tab {
        padding: 0 60px;
        padding-right: 20px;
        @include mq("tablet", max) {
            padding: 0;
        }
        button {
            margin-top: 10px;
        }
        .connected {
            border: 1px solid #23c865;
            padding: 10px;
            p {
                color: #23c865;
                margin: 10px 0;
            }
            img {
                margin: 10px 0;
                width: 90px;
            }
        }

        &-name {
            position: relative;
            border-bottom: 1px solid #ffffff;
            padding-bottom: 10px;
            margin-bottom: 27px;
            text-align: center;
            .left-arrow {
                position: absolute;
                left: 0;
            }
            h4 {
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 0;
                @include mq("phone", max) {
                    text-transform: uppercase;
                }
            }
        }
        &-list {
            display: flex;
            flex-wrap: wrap;
            .payment-type {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 23px;
                padding-bottom: 23px;
                border: 1px solid #ffffff;
                margin-bottom: 12px;
                cursor: pointer;
                @include mq("phone", max) {
                    width: 100% !important;
                    margin-right: 0 !important;
                }
                &__icon {
                    margin-right: 10px;
                    @include mq("tablet", max) {
                        display: none;
                    }
                }
                &__name {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;
                    color: white;
                    opacity: 0.5;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
        .form-check-input {
            border: 1px solid #ffffff;
            background-color: $black;
            width: 24px;
            height: 24px;
            border-radius: unset;
        }
        .form-check-label {
            display: flex;
            align-items: center;
            font-size: 11px;
            font-weight: bold;
        }

        .creditcard-tab {
            @include mq("laptop", max) {
                margin-top: 50px;
            }
            .form-control {
                border: 1px solid #ffffff;
                background-color: $black;
                color: white;
                font-size: 16px;
                line-height: 20px;
                padding: 12px 16px;
            }
            .form-check {
                display: flex;
                align-items: center;
            }
            input {
                &::placeholder {
                    color: white;
                    opacity: 0.95;
                }
            }
        }
        .cryptocoin-tab,
        .wallet-tab {
            @include mq("laptop", max) {
                margin-top: 50px;
            }
            .form-control {
                border: 1px solid white;
                background-color: $black;
                font-weight: bold;
                font-size: 24px;
                line-height: 29px;
                padding: 9px 29px;
                color: white;
            }
            .css-1s2u09g-control,
            .css-1pahdxg-control {
                @extend %select-style;
            }
            .css-1okebmr-indicatorSeparator {
                display: none;
            }
            .css-319lph-ValueContainer {
                padding: 0;
            }
            .css-6j8wv5-Input {
                display: none;
            }
        }
        .cryptocoin-tab {
            button {
                font-size: 18px;
                width: 300px;
            }
            .cryptocoin-select {
                margin-bottom: 8px;
                margin-right: 8px;
                .css-1s2u09g-control,
                .css-1pahdxg-control {
                    padding: 0 0 !important;
                    .css-1d8n9bt {
                        padding-top: 0;
                        padding-bottom: 0;
                    }
                    .css-ackcql {
                        display: none !important;
                        input {
                            caret-color: transparent;
                        }
                    }
                    .coin-label {
                        @include mq("phone", max) {
                            display: none;
                        }
                    }
                }
                .css-26l3qy-menu {
                    background-color: $black;
                    border: 1px solid #ffffff;
                    border-radius: unset;
                    & > div {
                        max-height: unset !important;
                    }
                    .coin-label {
                        font-weight: bold !important;
                        font-size: 18px !important;
                        line-height: 22px !important;
                        text-transform: uppercase !important;
                        color: white !important;
                    }
                }
            }
            .clipboard {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: white;
                padding: 13px;
                cursor: pointer;
                code {
                    font-family: "Montserrat";
                    font-size: 16px;
                    line-height: 20px;
                    color: black;
                }
                @include mq("laptop", max) {
                    padding: 10px;
                    code {
                        font-size: 13px;
                        line-height: 16px;
                    }
                }
            }
            .qr-code {
                text-align: center;
                svg {
                    width: 115.95px;
                    height: 115.95px;
                }
                @include mq("phone", max) {
                    margin-top: 23px;
                    svg {
                        width: 132px;
                        height: 132px;
                    }
                }
            }
        }
        .wallet-tab {
            .balance-select {
                @include mq("laptop", max) {
                    margin-bottom: 16px;
                }
                .css-1s2u09g-control {
                    padding-top: 9px;
                    padding-bottom: 9px;
                    padding-right: 0px !important;
                    @include mq("laptop", max) {
                        border: 1px solid white;
                    }
                    .wallet-select__value {
                        color: white;
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 22px;
                    }
                }
                .css-1pahdxg-control {
                    border: none;
                    @include mq("laptop", max) {
                        border: 1px solid white;
                    }
                }
                .css-26l3qy-menu {
                    border-radius: unset;
                    background-color: $black;
                    width: calc(100% - 24px);
                    & > div {
                        padding: 0;
                        & > div {
                            background-color: $black;
                            cursor: pointer;
                            border: 1px solid white;
                            border-bottom: none;
                            padding: 20px 15px;
                            &:last-child {
                                border-bottom: 1px solid white;
                            }
                        }
                    }
                    .custom-option {
                        display: flex;
                        justify-content: space-between;
                        p {
                            font-weight: bold;
                            font-size: 20px;
                            line-height: 24px;
                        }
                    }
                }
            }
            .choosed-icon {
                background-color: $black;
                border: 1px solid white;
                padding: 4px 23px;
                display: flex;
                align-items: center;
                margin-right: 8px;
            }
        }
        .externalwallets-tab {
            text-align: center;
            .col-sm-6 {
                margin-bottom: 8px;
            }
            .wallet-item {
                cursor: pointer;
                width: 100%;
                height: 100%;
                padding-top: 23px;
                padding-bottom: 23px;
                border: 1.5px solid #525252;
                img {
                    margin-bottom: 12px;
                    width: 34px;
                    height: 34px;
                    @include mq("phone", max) {
                        width: 32px;
                        height: 32px;
                    }
                }
                p {
                    font-weight: 500;
                    font-size: 13.2009px;
                    line-height: 16px;
                    color: white;
                }
                &.inactive {
                    border-color: grey;
                    p {
                        color: #8f8f8f;
                    }
                    img {
                        opacity: 0.5;
                    }
                }
            }
        }
        .paypal-tab {
            .paypal-checkout {
                margin-top: 0;
                padding: 11px;
                width: 330px;
                font-weight: 600;
                font-size: 13px;
                line-height: 16px;
                margin: auto;
                @include mq("phone", max) {
                    margin-top: 75px;
                    margin-bottom: 75px;
                }
            }
        }
        .payment-expire {
            display: block;
            padding-left: 30px !important;
            @include mq("tablet", max) {
                display: none;
            }
        }
    }
    .confirm-payment {
        margin-top: 16px;
        font-size: 24px;
        @include mq("laptop", max) {
            margin: auto;
            margin-top: 55px;
        }
    }
    .order-summary {
        border-left: 1px solid white;
        padding-left: 24px;
        h4 {
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
        }
        .order-list {
            padding: 40px 0 100px;
            border-bottom: 1px solid #ffffff;
            &__label {
                letter-spacing: -0.01em;
                font-size: 14px;
                line-height: 90%;
                color: #ffffff;
            }
        }
        .order-total {
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            color: white;
        }
        @include mq("laptop", max) {
            border: none;
            padding-left: 0;
            margin-top: 32px;
            & > h4 {
                font-weight: 600;
                font-size: 24px;
                line-height: 29px;
            }
            & > p {
                font-size: 12px;
                line-height: 15px;
            }
            .btn-primary {
                width: 100%;
            }
            .payment-expire {
                display: block;
                text-align: center;
                margin-bottom: 16px;
            }
        }
        @include mq("phone", max) {
            border-top: 1px solid #ffffff;
            padding-top: 9px;
        }
        .total-amount {
            margin-top: 18px;
            margin-bottom: 32px;
            .amount {
                font-weight: bold;
                font-size: 24px;
                line-height: 29px;
                color: white;
                @include mq("tablet", max) {
                    font-size: 18px;
                    line-height: 22px;
                }
                &-label {
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 22px;
                    text-transform: uppercase;
                }
            }
        }
        .btn-primary {
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
        }
    }
    .remain-token__value {
        padding: 0px 60px;
        margin-top: 80px;
        margin-bottom: 80px;
        @include mq("tablet", max) {
            padding: 0 0;
        }
        .current-value,
        .end-value {
            font-weight: bold;
            font-size: 11px;
            line-height: 13px;
            text-transform: uppercase;
        }
        .timeframe-bar {
            background-color: #263a2b;
            height: 17px;
            margin-top: 8px;
            .timeleft {
                border-radius: 0 8.5px 8.5px 0;
                position: relative;
                &__value {
                    position: absolute;
                    bottom: -23px;
                    right: 0;
                    color: white;
                    font-weight: bold;
                    font-size: 11px;
                    line-height: 13px;
                    white-space: pre-line;
                    text-transform: uppercase;
                }
            }
        }
    }
}

.allow-text {
    font-size: 11px !important;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: auto;
    margin-bottom: auto;
}

.css-4ljt47-MenuList {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.payment-type__tab-list {
    flex: 1 !important;
    margin-right: 5px;
    &:last-child {
        margin-right: 0px;
    }
}

.css-14el2xx-placeholder {
    color: white !important;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.payment-content {
    display: flex;
    height: 274px;
    flex-direction: column;
    justify-content: center;
    @include mq("phone", max) {
        height: auto;
    }
    .set-cryptocoin {
        display: flex;
        justify-content: space-between;
        .coin-address {
            width: calc(100% - 139.95px);
            @include mq("phone", max) {
                display: block;
                width: 100%;
            }
        }
        @include mq("phone", max) {
            display: block;
        }
    }
}
